.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media (max-width: 768px) {
  .loader-container {
    height: 100vh;
  }
}

@media (max-width: 480px) {
  .loader-container {
    height: 100vh;
  }
}
