/* Stiluri pentru ecrane mici (mobile first) */
.appContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}

.layout {
  flex: 1;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
}

.container {
  position: relative;
  display: none; /* Ascundem imaginile în versiunea mobilă */
}

.leafsImage,
.strawberryImage,
.bananaImage {
  display: none;
}

/* Stiluri pentru ecrane medii (tabletă) */
@media (min-width: 768px) {
  .container {
    display: block; /* Afișăm imaginile în versiunea tabletă */
  }

  .layout {
    padding: 32px;
  }

  .bananaImage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 40%;
    height: auto;
    background-image: url('./../../public/images/banana.png');
    background-size: contain;
    background-repeat: no-repeat;
  }

  .leafsImage {
    position: absolute;
    top: 60%;
    left: 55%;
    transform: translate(-50%, -50%) rotate(-90deg);
    z-index: 2;
    width: 30%;
    height: auto;
    background-image: url('./../../public/images/leafs.png');
    background-size: contain;
    background-repeat: no-repeat;
  }

  .strawberryImage {
    position: absolute;
    top: 70%;
    left: 60%;
    transform: translate(-50%, -50%);
    z-index: 3;
    width: 15%;
    height: auto;
    background-image: url('./../../public/images/strawberry.png');
    background-size: contain;
    background-repeat: no-repeat;
  }
}

/* Stiluri pentru ecrane mari (desktop) */
@media (min-width: 1028px) {
  .layout {
    padding: 48px;
  }

  .container {
    display: block; /* Afișăm imaginile în versiunea desktop */
  }

  .bananaImage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 25%;
    height: auto;
    background-image: url('./../../public/images/banana.png');
    background-size: contain;
    background-repeat: no-repeat;
  }

  .leafsImage {
    position: absolute;
    top: 55%;
    left: 55%;
    transform: translate(-50%, -50%) rotate(-90deg);
    z-index: 2;
    width: 20%;
    height: auto;
    background-image: url('./../../public/images/leafs.png');
    background-size: contain;
    background-repeat: no-repeat;
  }

  .strawberryImage {
    position: absolute;
    top: 60%;
    left: 60%;
    transform: translate(-50%, -50%);
    z-index: 3;
    width: 10%;
    height: auto;
    background-image: url('./../../public/images/strawberry.png');
    background-size: contain;
    background-repeat: no-repeat;
  }
}
